@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background-image: url("../images/bg-tablet-pattern.svg");
  background-repeat: no-repeat;
  background-size: 800px;
  background-position: 90% -25%;
}

@media (max-width: 576px) {
  .body {
    background-position: 50px -50px;
    background-size: 500px;
  }
}

/* toggle Menu */
.toggle {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.toggle-top,
.toggle-middle,
.toggle-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.toggle-middle {
  transform: translateY(7px);
}

.toggle-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .toggle-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .toggle-middle {
  display: none;
}

.open .toggle-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}
